In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from scipy.stats import zscore
import pickle

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
data = pd.read_csv('/content/drive/MyDrive/kaggle_datasets/adm_data.csv')
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [5]:
data.shape

(400, 9)

In [6]:
data.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [7]:
data.isna().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [8]:
def preprocessing(df):
    df = df.copy()
    df = df.drop(['Serial No.','SOP','LOR '], axis = 1)
    X = df.drop('Chance of Admit ', axis = 1)
    Y = df['Chance of Admit ']
    x_train,x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.30, shuffle = True, random_state = 1)
    return x_train,x_test, y_train, y_test

In [29]:
x_train,x_test, y_train, y_test = preprocessing(data)
x_train.head()

     GRE Score  TOEFL Score  University Rating  CGPA  Research
39         307          108                  2  7.70         0
167        313          102                  3  8.27         0
383        300          100                  3  8.26         0
221        316          110                  3  8.56         0
351        325          110                  4  8.67         1

In [10]:
model1 = RandomForestRegressor(max_depth = 4)
model1.fit(x_train, y_train)
print(f'Train Accuracy : {model1.score(x_train, y_train)}\nTest Accuracy : {model1.score(x_test, y_test)}')

Train Accuracy : 0.8344512881944954
Test Accuracy : 0.7817530010608204

In [11]:
model2 = GradientBoostingRegressor(max_depth = 4 , n_estimators = 20)
model2.fit(x_train, y_train)
print(f'Train Accuracy : {model2.score(x_train, y_train)}\nTest Accuracy : {model2.score(x_test, y_test)}')

Train Accuracy : 0.8553561345359819
Test Accuracy : 0.740665585238648

In [23]:
file = 'Adm_data1.pkl'
with open(file, 'wb') as f:
  pickle.dump(model1, f)
with open(file, 'rb') as f:
  k = pickle.load(f)